.header {
  background-color: #32386e;
  color: white;
  height: 4rem;
}

.logo {
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
}

.login-button {
  display: flex;
  /* margin-right: 0;
    justify-self: end;
    margin-right: 0px; */
  margin-left: auto;
}

a {
  cursor: pointer;
}

.navbar-toggler {
  box-shadow: none;
}

a.navbar-brand {
  font-size: 2rem;
  margin: 0;
}

.sm-heading {
  font-size: 1rem;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.dropdown-menu {
  margin-top: -0.3rem;
  margin-right: 1rem;
  min-width: 6rem;
}

.dropdown-item:hover {
  background-color: #8bb9fe;
}

.dropdown-menu:before {
  right: 14px;
  top: -24px;
  border: 12px solid #0000;
  border-bottom: 12px solid #c6c6c6;
}

.dropdown-menu:after {
  right: 15px;
  top: -21.5px;
  border: 11px solid #0000;
  border-bottom: 11px solid #fff;
}

.dropdown-menu:before,
.dropdown-menu:after {
  content: "";
  left: auto;
  display: inline-block;
  position: absolute;
}
