.header {
  background-color: red;
  color: blue;
  height: 4rem;
}

.navbar-toggler {
  box-shadow: none;
}

a.navbar-brand {
  font-size: 2rem;
  margin: 0;
}

.sm-heading {
  font-size: 1rem;
}

.circle-image {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #e0e0e0;
  object-fit: cover;
  margin-inline: 0.2rem;
}

.bi-person-circle {
  font-size: 1.5rem;
  margin-inline: 0.2rem;
}
