<nav class="navbar navbar-dark header position-relative">
  <div class="container-fluid">
    <button
      type="button"
      class="navbar-toggler"
      (click)="onSideNavMenuClick($event)"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="position-absolute start-50 translate-middle-x">
      <a class="navbar-brand mb-0 h1" routerLink="/home">WORD TILES</a>
    </div>
    <a routerLink="/auth" class="d-flex align-items-center">
      <!-- <img
          src="https://cdn-icons-png.freepik.com/512/10100/10100162.png"
          alt=""
          class="circle-image"
        /> -->
      <i class="bi bi-person-circle"></i>
      {{ userName ? userName : "Login" }}</a
    >
  </div>
</nav>
