<div class="card flip-card" [class.shake-animation]="invalidTurn">
  <div class="flip-card-inner" [class.quick-flip]="isFlipping">
    <div
      class="body flip-card-front {{ showColor ? cellStateClass : '' }}"
      [ngClass]="[(isGameOver | async) ? 'disabled' : '']"
      [@cellAnimate]="animateState"
      (@cellAnimate.start)="onAnimateStart($event)"
    >
      @if (cellValue) {
        <h3>{{ cellValue }}</h3>
      } @else {
        <h3>&nbsp;</h3>
      }
    </div>
    <div
      class="body flip-card-back default"
      [ngClass]="[(isGameOver | async) ? 'disabled' : '']"
    >
      <h3>{{ cellValue }}</h3>
    </div>
  </div>
</div>
