html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #f5f5f5;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  margin: 1rem 0rem;
}

a {
  cursor: pointer;
}

.form-signin,
.form-signup {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  margin: auto;
}

.form-signin .checkbox,
.form-signup .checkbox {
  font-weight: 400;
}

.form-signin .form-control,
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 1rem;
}

.form-signin .form-control:focus,
.form-signup .form-control:focus {
  z-index: 2;
}

.invalid-feedback.d-block div {
  min-height: 1rem;
  max-height: 1rem;
  font-size: 0.75rem;
  margin-top: -0.2rem;
}

.form-container {
  width: fit-content;
  max-width: 90%;
  background: #fff;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.login-eye {
  z-index: 100;
  position: absolute;
  top: 27%;
  right: 8%;
  color: #6c757d;
  cursor: pointer;
}

.login-eye:hover {
  color: #000;
}

.signup-eye {
  z-index: 100;
  position: absolute;
  top: 27%;
  right: 8%;
  color: #6c757d;
  cursor: pointer;
}

.signup-eye:hover {
  color: #000;
}

.divider {
  position: relative;
  text-align: center;
  color: #bdbcbc;
  font-size: 0.8rem;
  margin: 25px 0;
  height: 1px;
  background: #bdbcbc;

  span {
    position: relative;
    display: inline-block;
    top: -0.8rem;
    padding: 0 0.75rem;
    background: #fff;
    color: #333333;
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
}

.slider {
  display: flex;
  width: 200%; /* 2 panels side-by-side */
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.form-block {
  width: 50%; /* exactly half */
  padding: 2rem;
  box-sizing: border-box;
}

.slider.move {
  transform: translateX(-50%);
}
