html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #f5f5f5;
}

a {
  cursor: pointer;
}

.form-signin {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 1rem;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.invalid-feedback.d-block div {
  min-height: 1rem;
  max-height: 1rem;
  font-size: 0.75rem;
  margin-top: -0.2rem;
}

.form-container {
  width: fit-content;
  max-width: 25rem;
  /* padding-inline: 4rem; */
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-inline: auto;
}

.slider {
  display: flex;
  width: 200%; /* 2 panels side-by-side */
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.form-block {
  width: 50%; /* exactly half */
  padding: 2rem;
  box-sizing: border-box;
}

.slider.move {
  transform: translateX(-50%);
}
