<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    [ngClass]="activeLink === '/home' ? 'active' : ''"
    routerLink="/home"
    (click)="closeSideNav()"
  >
    <span class="material-symbols-rounded">home</span>
    HOME
  </a>
  <a
    class="list-group-item list-group-item-action"
    [ngClass]="activeLink === '/play' ? 'active' : ''"
    routerLink="/play"
    (click)="closeSideNav()"
  >
    <span class="material-symbols-rounded">sports_esports</span>
    PLAY
  </a>
  <a
    class="list-group-item list-group-item-action"
    [ngClass]="activeLink === '/stats' ? 'active' : ''"
    routerLink="/stats"
    (click)="closeSideNav()"
  >
    <span class="material-symbols-rounded">leaderboard</span>

    STATS
  </a>
  <a
    class="list-group-item list-group-item-action"
    [ngClass]="activeLink === '/how-to-play' ? 'active' : ''"
    routerLink="/how-to-play"
    (click)="closeSideNav()"
    ><span class="material-symbols-rounded"> help </span> HOW TO PLAY
  </a>
  <a
    class="list-group-item list-group-item-action"
    [ngClass]="activeLink === '/about' ? 'active' : ''"
    routerLink="/about"
    (click)="closeSideNav()"
    ><span class="material-symbols-rounded"> info </span> ABOUT
  </a>
  <a
    class="list-group-item list-group-item-action"
    [ngClass]="activeLink === '/feedback' ? 'active' : ''"
    routerLink="/feedback"
    (click)="closeSideNav()"
    ><span class="material-symbols-rounded"> feedback </span> FEEDBACK
  </a>
</div>
