.list-group {
  --bs-list-group-bg: none;
  --bs-list-group-border-color: none;
  --bs-list-group-border-radius: none;
  --bs-list-group-action-hover-bg: #cf9fff;
}

.list-group-item.list-group-item-action {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: black;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

  vertical-align: text-bottom;
}
