:host {
  display: block;
  height: 100%;
  background-color: #1a1a2e;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.main-container {
  text-align: center;
  background-color: #1a1a2e;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cell-container {
  margin: clamp(1px, 2px, 3px);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.keyboard-container {
  display: block;
  position: sticky;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  bottom: 0;
  background-color: #1a1a2e;
}
