.simple-keyboard {
  /* max-width: 850px; */
  background-color: transparent;
}

.simple-keyboard.hg-layout-default .hg-row {
  justify-content: center;
}

.simple-keyboard.hg-layout-default .hg-button.hg-standardBtn {
  font-size: 1.5rem;
  max-width: 3rem;
}

.simple-keyboard.hg-layout-default .hg-button.hg-functionBtn {
  max-width: 5rem;
}

.simple-keyboard.hg-layout-default .hg-button-enter {
  font-size: 1rem;
}

.simple-keyboard.hg-layout-default .hg-button-bksp {
  font-size: 1.2rem;
}

.simple-keyboard.hg-layout-default .hg-button {
  background: rgb(255, 0, 0, 0.7);
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

.simple-keyboard.hg-layout-default .incorrect {
  background-color: #3a3a3c;
  /* border: 2px solid #4a4a4c;
  box-shadow: 0 4px 15px rgba(58, 58, 60, 0.4); */
}

.simple-keyboard.hg-layout-default .present {
  background-color: rgb(235, 200, 4);
  /* border: 2px solid rgb(248, 226, 103);
  box-shadow: 0 4px 15px rgba(221, 221, 93, 0.4); */
}

.simple-keyboard.hg-layout-default .correct {
  background-color: rgb(105, 158, 26);
  /* border: 2px solid rgb(125, 180, 40);
  box-shadow: 0 4px 15px rgba(105, 158, 26, 0.4); */
}
