.simple-keyboard {
  background: transparent;
}

.hg-activeButton {
  transform: scale(1.3);
  transition-timing-function: cubic-bezier(0.4, -0.5, 0.2, 1.5);
}

.hg-theme-default {
  font-family: "Inter", sans-serif;
}

.simple-keyboard.hg-layout-default .hg-row {
  justify-content: center;
}

.simple-keyboard.hg-layout-default .hg-button.hg-standardBtn {
  font-size: clamp(1rem, 4vw, 1.5rem);
  max-width: 3rem;
}

.simple-keyboard.hg-layout-default .hg-button.hg-functionBtn {
  max-width: 5rem;
}

.simple-keyboard.hg-layout-default .hg-button-enter {
  font-size: 1rem;
}

.simple-keyboard.hg-layout-default .hg-button-bksp {
  font-size: 1.2rem;
}

.simple-keyboard.hg-layout-default .hg-button {
  background: #7393b3c5;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

.simple-keyboard.hg-layout-default .incorrect {
  background-color: #3a3a3c;
}

.simple-keyboard.hg-layout-default .present {
  background-color: rgb(235, 200, 4);
}

.simple-keyboard.hg-layout-default .correct {
  background-color: rgb(105, 158, 26);
}
