mat-sidenav {
  height: calc(100vh - 4rem);
  width: 15rem;
  float: left;
  /* position: relative; */
  padding-top: 1rem;
  background-color: #d7e3ff;
}

mat-sidenav-content {
  overflow-x: hidden;
  background-color: #f1f1f1;
}

mat-sidenav-container {
  height: calc(100vh - 4rem);
}
