mat-sidenav {
  height: calc(100vh - 4rem);
  width: 65%;
  max-width: 20rem;
  float: left;
  /* position: relative; */
  padding-top: 1rem;
  background-color: #d7e3ff;
}

mat-sidenav-content {
  overflow-x: hidden;
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
}

mat-sidenav-container {
  height: calc(100vh - 4rem);
}
