mat-form-field {
  margin-right: 12px;
}

.custom-snackbar {
  background-color: #f00;
  color: #fff;
  width: 20px !important;
  display: flex;
  top: 10rem;
  --mdc-snackbar-container-color: aqua !important;
  --mdc-snackbar-supporting-text-color: red !important;
  --mat-snack-bar-button-color: red !important;
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  width: 20rem !important;
}

.mat-mdc-snack-bar-container {
  &.success-dialog-snackbar {
    --mdc-snackbar-container-color: #2196f3;
    --mat-mdc-snack-bar-button-color: #ff0000;
    --mdc-snackbar-supporting-text-color: #ff0000;
  }
}
